.table-content {
    width: max-content;
    display: flex;
    background-color: burlywood;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    margin: auto;
}


.deck-container {
    width: 5.5rem;
    height: 140px;
    background: #094354;
    border-radius: 0.4rem;
    box-shadow: 1px 1px 5px -1.5px black;
    margin-right: 100px;
}

.cards-container {
    width: 620px;
    height: 520px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: -1;
    align-content: start;
}

.cards-container div {
    padding: 5px;
    // animation: moveCard 4s ease-out;
}

@keyframes moveCard {
    0% {
       transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(20px, 100px, 0);
    }
}
